<h1>New Picture</h1>

<%= render 'form' %>

<%= link_to 'Back', pictures_path %>

<body background="http://s11.postimg.org/rk7m7nb03/harbor_I_140626_Exterior_Pool_01_1.jpg" id="bg" alt="Background pic">
