
<h1>New Picture</h1>

<%= render 'form' %>

<div id="backonform">
<%= link_to 'Back', pictures_path %>
</div>

<style>

body {
  background-image: url("http://s11.postimg.org/rk7m7nb03/harbor_I_140626_Exterior_Pool_01_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

</style>