/*#showpic {
  max-width:100%;
   max-height:100%;
}*/
#showpic {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#top {
  font-size: 3em;
  color: white;
}

#goto {
  color: white;
}

.field{
  font-size: 18px;
  color: white;
}
