/*#showpic {
  max-width:100%;
   max-height:100%;
}*/
#showpic {
  margin:auto;
  margin-bottom: 25px;
  height: 500px;
  width: 750px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#top {
  font-size: 3em;
  color: white;
}

#goto:hover {
  color: #fff;
}

#goto {
  color: white;
  color: #000;
}

.field{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
