/*td ~ td {
  position:relative;
}

td:last-child {
  bottom: 160px;
}*/

td:nth-child(3), td:nth-child(4) {
  width: 15%;
}

td, a, p {
  font-size: 1em;
}


table {
  width: 100%;
}

.showlink, .editlink {
  margin-bottom: 25px;
}

#new-pic {
  font-size: 2.5em;
  margin-top: 90px;
  margin-bottom: 110px;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 40px;
}


